.form-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.form-h3 {
    font-size: clamp(2.5em, 2.5vw, 1.8em);
    padding-bottom: 30px;
    color: #333;
}

.formblock-content h4 {
    font-size: clamp(2.3em, 2.3vw, 1.5em);
    color: #333;
}

.form-input,
.form-area {
    padding: 12px;
    width: 70%;
    margin-bottom: 15px;
    background-color: transparent;
    color: #333;
    border: 2px solid #333;
    border-left: 4px solid #ff5f00; /* Fashionable side border */
    border-radius: 8px;
    font-size: clamp(1.1em, 1vw, 1.1em);
    transition: all 0.3s ease;
}

.form-input:focus,
.form-area:focus {
    border-left: 4px solid #ffdb15;
    border-color: #333;
    outline: none;
}

.form-button {
    width: 70%;
    padding: 12px;
    background-color: #333;
    border: 2px solid #333;
    font-weight: 700;
    font-size: 1.1em;
    transition: all 0.4s;
    border-radius: 8px;
    color: #ffdb15;
    cursor: pointer;
}

.form-button:hover {
    color: #fff;
    background-color: #ffdb15;
    border-color: #252525;
}

.form-area::placeholder,
.form-input::placeholder {
    color: #555;
}

.formblock-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 40px;
}

.form-logo {
    max-width: 100px;
    margin-bottom: 20px;
}

.intro-2-inner {
    width: 60%;
    margin: auto;
}

@media (max-width: 1024px) {
    .intro-2-inner {
        width: 90%;
    }

    .intro-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formblock-content {
        width: 90%;
    }
}
