.layout-center-content{
    width: 100%;
    min-height: 65vh;
    background-color: #F1F2F4;
    border-radius: 25px;
    padding: 30px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .layout-center-content .income{
    width: 100%;
  }

  
  .layout-center-content p, .layout-center-content h3{
    text-align: center;
  }

  .layout-center-content p{
    color: #A5A5A5;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .layout-center-content h3{
    font-size: 2em;
  }