@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    scroll-behavior: smooth;
}

body, html{
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

.Toastify__toast{
    margin: 10px;
}
  
  .layout-right-toast {
    position: fixed;
    top: 100px;
    right: 20px;
  }

.Toastify__toast-container--top-right {
  position: fixed;
  top: 100px;
  right: 20px;
  background-color: #d8d8d8;
  border-radius: 10px;
}

