.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.form-box{
    width: 50%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    margin: 0 auto;
}