body {
    background-color: #fff;
}

.layout-main {
    display: flex;
    height: 100vh;
}

.layout-line {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    height: 2px;
    background-color: #DFDFDF;
    margin-left: 2.5vw;
}

.layout-left {
    position: fixed; /* Stick to the left edge of the viewport */
    top: 0;
    bottom: 0;
    left: 0; /* Ensure it aligns to the left */
    width: 20vw; /* Adjust width as needed */
    transition: transform 0.3s ease; /* Smooth transition */
    transform: translateX(-100%); /* Start off-screen to the left */
    overflow-y: auto;
    z-index: 999;
    background-color: #fff;
    border-right: 2px solid #E6E6E6;
}

.layout-left.visible {
    transform: translateX(0); /* Bring it fully into view */
}

.layout-left.hidden {
    transform: translateX(-100%); /* Move completely off-screen to the left */
}

.layout-right {
    position: fixed; /* Stick to the right edge of the viewport */
    top: 0;
    bottom: 0;
    right: 0; /* Ensure it aligns to the right */
    width: 40vw; /* Adjust width as needed */
    transition: transform 0.3s ease; /* Smooth transition */
    transform: translateX(100%); /* Start off-screen to the right */
    overflow-y: auto;
    z-index: 999;
    background-color: #fff;
}

.layout-right.visible {
    transform: translateX(0); /* Bring it fully into view */
}

.layout-right.hidden {
    transform: translateX(100%); /* Move completely off-screen to the right */
}

.layout-logo {
    max-width: 70%;
    margin-left: 30px;
}

.link {
    color: #9E9E9E;
    font-weight: 800;
    display: flex;
    align-items: center;
    padding: 0.8vw;
    padding-left: 2.5em;
    padding-right: 2.5em;
    font-size: clamp(1em, 0.6vw, 2em);
    width: 100%;
}

.link.active {
    border-left: 4px solid #0500FF;
    color: #000;
    font-weight: bold;
}

.link img {
    padding-right: 2.5em;
}

.layout-center-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid #E6E6E6;
}

.layout-center {
    width: 100%;
    padding-left: 0; /* Adjust for sidebar */
}

.layout-content {
    padding: 30px;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 15px;
    max-height: 50px;
    padding: 5px 10px;
    width: 80%;
    background-color: #F5F5F5;
}

.search-icon {
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

.search-input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
    padding: 8px;
    background: transparent;
}

.search-bar:hover {
    border-color: #007BFF;
}

.search-input:focus {
    border: none;
    outline: none;
}

.search-icon:hover {
    opacity: 1;
}

.layout-right-account {
    display: flex;
    align-items: center;
    border: 2px solid #9D9594;
    padding: 2px;
    border-radius: 50px;
}

.layout-right-account img {
    padding-right: 10px;
}

.layout-right-account h3 {
    color: #9D9594;
    padding-right: 10px;
}

.layout-icons {
    padding: 25px 40px;
    display: flex;
    align-items: center;
}

.sidebar-toggle {
    display: none;
}

@media(max-width: 1024px) {
    .layout-center-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
    }

    .sidebar-toggle {
        display: block;
        font-size: 20px;
        background-color: transparent;
        border: none;
    }

    .layout-left{
        background-color: #fff;
        width: 30vw;
    }

    .layout-right{
        width: 50vw;
        background-color: #fff;
    }

    .layout-left.hidden {
        transform: translateX(-100%);
    }

    .layout-right.hidden {
        transform: translateX(500%);
    }
    .link{
        font-size: 0.7em;
    }

    .layout-left{
        border-right: 2px solid #E6E6E6;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        transition: transform 0.3s ease;
        transform: translateX(-100%); 
        overflow-y: auto;
        z-index: 999; 
    }

    .layout-right {
        position: fixed;
        top: 0;
        bottom: 0;
        transition: transform 0.3s ease;
        overflow-y: auto;
        z-index: 999;
    }
}

@media(max-width: 768px){
    .layout-left{
        width: 40vw;
    }

    .layout-right{
        width: 70vw;
    }
}

@media(max-width: 425px){
    .link{
        padding: 10px 20px;
    }
}